.widget-container {
  width: 100%;
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  height: 80vh;
  width: 100%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.shop-now-btn {
  z-index: 1000;
  color: white;
  width: 210px;
  height: 50px;
  line-height: 50px;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.info {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  color: white;
}

.title {
  font-size: 1.7rem;
}

.divider {
  width: 150px;
  height: 1px;
  background-color: white;
  margin: 20px 0;
}

.desc {
  margin-bottom: 50px;
  font-size: 1rem;
}

/** desktop view **/

@media only screen and (min-width: 720px) {
  .shop-now-btn {
    width: 200px;
    height: 45px;
    line-height: 45px;
    font-size: 1.2rem;
  }

  .info {
    width: 75%;
  }
}
